<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3 style="font-style: italic; font-family: cursive;">Welcome To Forestry Management Application</h3>
                </div>
                <img src="https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_960_720.jpg"
                    class="d-block w-100" alt="..." height="500px"
                    style="margin-top: 8px; margin-left: 8px; padding-right: 16px;">
                   
            </div>
            <div class="carousel-item">
                <div class="carousel-caption" >
                    <h3 style="font-style: italic; font-family: cursive; ">Welcome To Forestry Management Application</h3>
                </div>
                <img src="https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_960_720.jpg"
                    class="d-block w-100" alt="..." height="500px"
                    style="margin-top: 8px; margin-left: 8px; padding-right: 16px;">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section style="padding-top: 30px; padding-left: 50px;">
    <h3 style="font-style: italic; font-family: cursive; font: outline;">About Us</h3>
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; padding-right: 20px ;">Forest Management is one of the leading
        producer, processor and exporter of forest related endeavours. Over the years we have been serving clients with
        forest related endeavours. We have been able to cater to a wide clientèle spread across the country. Our
        alluring range of products has received an overwhelming response from domestic clients, and enabled us to
        provide our clients with more products. </p>
</section>
<section style="padding-top: 20px; padding-left: 50px; padding-right: 30px;">
    <h3 style="font-style: italic; font-family: cursive; font: outline;">Popular products</h3>
    <div style="padding-top: 10px;" class="card-deck">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2qgNbXC6fvjwiq5SrB58q-wZFS81K0JkF-mJolUvyuwXCwXkq"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Teak Wood</h5>
                <p class="card-text">Teak is used extensively in India to make doors and window frames, furniture, and
                    columns and beams in old type houses. It is resistant to termite attacks and damage caused by other
                    insects.</p>
            </div>

        </div>
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlIwk1erx1JOf2tDFLUr2VRYjki-vRi0XR7x6tXh2JjX0BURZ2"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pine Wood</h5>
                <p class="card-text">Pine wood is widely used in high-value carpentry items such as furniture, window
                    frames, panelling, floors, and roofing, and the resin of some species is an important source of
                    turpentine.</p>
            </div>

        </div>
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUG49V_0XgFg5WpFkGcvlSNkNXW8JBLM7CmUxTm2nLfLP3okHk"
                class="card-img-top" alt="..." height="230x">
            <div class="card-body">
                <h5 class="card-title">Oak</h5>
                <p class="card-text">Oak wood has been used as a hardwood timber for thousands of years.Modern uses for
                    oak wood include homewares, flooring, wine barrels and firewood.</p>
            </div>

        </div>
    </div>
</section>
<footer>
    <div style="height: 200px; background-color: black ; padding-top: 30px; ">


        <a href=""><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png"
                style="border-radius: 50%; ; height: 50px; margin-left:550px; margin-top: 40px; " alt=""></a>
        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSIthGHhex6_B2v_mSKNefnq7YfvqxtcAv5zjLYkhx62P2UeHwJ" style="border-radius: 50%; height: 70px ; margin-top: 40px; " alt=""></a>
        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTne7BBGik7LPt495XpHTrcyNy1LPpXkoioOhCYr-Kw0X7VbvG8"
                style="border-radius: 70%; height: 50px; margin-right: 10px; margin-top: 40px; " alt=""></a>
    </div>
</footer>