<div style='background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJWgmUCteyf2vorYHnCj78YgJptywNDb5kqvlSXS_3ZI84JuED"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 700px;'>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<section style="padding-top: 10px; ">

   
    <h3 style="font-family: cursive; padding-left: 30px;">My Orders</h3><br>
    <table class="table table-border table-hover" class="container">
        <tr>
            <th>Order Number</th>
            <th>email</th>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Expected Delivery Date</th>
            <th *ngIf='isClient()'>Delete</th>



        </tr>

        <tr *ngFor=' let order of orders'>
            <td>{{order.orderNo}}</td>
            <td>{{order.email}}</td>
            <td>{{order.productId}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.status}}</td>
            <td>{{order.expectedDeliveryDate}}</td>
            <td *ngIf='isClient()'><button class="btn btn-success" (click)='delete(order)' >Delete</button></td>



        </tr>

    </table>
</section>
</div>